* {
box-sizing: border-box;
}

:root {
    --primary--color:#3f3f3f;
    --secondary--color:#f3f3f3;
}

main, nav {
    width: 960px;
    margin:auto;
}

header {
    width: 100%;
    background-color:var(--primary--color);
    height: 90px;
}
nav {
    text-align: center;
}

ul {
    margin: 0;
   height: 100%;
   display: table;
   width: 100%;
}

nav ul li {
       height: 100%;
       vertical-align: middle;
       display: table-cell;
}

nav ul li a {
    display: inline-block;
    color: var(--secondary--color);
    margin-right: 100px;
    text-decoration: none;
}

.logo {
    float: left;
    width: 200px;
    height: 70px;
    margin-top: 10px;
}

#hero {
    margin:30px 0 30px 0;
}
section.row article.column1 {
float: left;
margin-right: 15px;
}

section.row article.column2 {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

section.row article.column3 {
    float: left;
    margin-left: 15px;
}

section.row2 article.column {
    float:left;
    margin:30px 0 30px 0;
}

section.row2 article.column2 section {
    float: left;
    margin:30px 0 30px 30px;
    width:450px;
    overflow-y: scroll;
}

section.row2 article.column2 button {
    margin:50px 0 30px 30px;
    width:250px;
    border-radius: 10px;
    height: 40px;
    transition: 350ms;
    cursor: pointer;
}

button:hover {
    background-color:var(--primary--color);
    color:var(--secondary--color);
}

footer {
    background-color: var(--primary--color);
    color:var(--secondary--color);
    height: 90px;
    padding: 40px;
    text-align: center;
}